{% extends 'base.html' %}
{% block title %} Cart {% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
       <div class="alert alert-dismissible fade show alert-{{ category }}" role="alert"> {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span></button>
       </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!--<a href="/add_rewards">Add rewards</a>-->
<br>
<div class="container-xl">
    <div class="row">
        <div class="col-xl-12">
            <div class="jumbotron p-2">
                <h2>CART<a class="float-right" href="/">Continue Shopping</a></h2>

<table class="table table-hover table-dark">
<tr>
    <th>IMAGE</th>
    <th>NAME</th>
    <th></th>
    <th>QUANTITY</th>
    <th></th>
    <th>PRICE</th>
    <th class="float-right">ACTION</th>
</tr>

{% for ourreward in ourrewards %}
<tr>
    <td><img class="img-fluid" src="{{ url_for('static',filename='uploads/' + ouritems.rewardpic) }}" alt="Insert Img" style="width: auto; height: 70px;">
</td>
    <td>{{ouritem.name}}</td>
    <td>$ {{ouritem.price}}</td>
    <td>{{ouritem.quantity}}</td>

    <td></td>
    <td>
<a class="btn btn-danger" href="{{url_for('deleteitem',id=ouritem.id)}}" onclick="return confirm ('Are you sure you want to Delete?')">Delete</a><br>

    </td>
</tr>
{% endfor %}
</table>

            </div>
            Total price:
            <a class="btn btn-success float-right"  href="/name">Checkout</a>
        </div>
    </div>
</div>


{% endblock %}
