{% extends 'base.html' %}
{% block title %} Update Reward {% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
       <div class="alert alert-dismissible fade show alert-{{ category }}" role="alert"> {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span></button>
       </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<h1>Update rewards</h1>
<!--Add reward form-->
<form action="/update_rewards/{{update.id}}" method="post">
<!-- CSRF token protect the form against CSRF attacks -->
{{ form.hidden_tag() }}
<!--form stuff-->
{{ form.name.label(class="form-label") }}
{{ form.name(class="form-control",
    value=update.name) }} <br>

{{ form.price.label(class="form-label") }}
{{ form.price(class="form-control",
    value=update.price) }} <br>

{{ form.quantity.label(class="form-label") }}
{{ form.quantity(class="form-control",
    value=update.quantity) }} <br>

{{ form.category.label(class="form-label") }}
{{ form.category(class="form-control",
    value=update.category) }} <br>
<br>
    <a class="btn btn-secondary" href="/manage_rewards">Back</a>
{{ form.submit(class="btn-btn-secondary", value="Update") }}
</form>

<!--{% for ourreward in ourrewards %}-->
<!--{{ourreward.id}}-{{ourreward.name}}-{{ourreward.price}}-{{ourreward.quantity}}-{{ourreward.category}} <br>-->
<!--{% endfor %}-->

{% endblock %}